body{
    width: 1200px;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    background-color: lightblue;
}

h1, h2 {
    color: darkblue;
}

button{
    color: gray
}